# Flask Uygulaması Ayarları
FLASK_SECRET_KEY=your_secret_key_here
FLASK_ENV=production

# Google OAuth 2.0 Ayarları
GOOGLE_CLIENT_ID=your_client_id_here
GOOGLE_CLIENT_SECRET=your_client_secret_here
REDIRECT_URI=http://localhost:5000/oauth2callback

# YouTube API Ayarları
YOUTUBE_API_KEY=your_youtube_api_key_here
